{% load static %}
<div class="col-6 col-md-4 mx-auto">
    <div class="card mb-3">
        <h5 class="card-header">{{ user_manager.manager_info.name }}</h5>
        <div class="sticker">
            <div class="avatar-holder">
                <img src="{% static user_manager.manager_info.nation.flag %}" style="width:30px; height: 20px; margin:5px;"/>
                <h4 class="clubTitle" style="width: auto; height: 20px; float: right; margin: 5px;font-size: small;">MANAGER</h4>
                <img class="card-img-top" src="{{ user_manager.manager_info.avatar_url }}" alt="Card image cap">
            </div>
        </div>
        <h5 class="card-header">{{ user_manager.club.club_info.name }}</h5> 
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: {{ user_manager.manager_info.age }}</li>
            <li class="list-group-item">Job Security: {{ user_manager.manager_info.board_confidence  }}%</li>
            <li class="list-group-item">Budget: £{{ user_manager.club.club_attr.budget }}m</li>
            <li class="list-group-item">Club Ovr: {{ user_manager.club.club_attr.ovr }}</li>
        </ul>
    </div>
</div>